<%- include("../layout/header", { title: "Admin • Dashboard" }) %>


<p>Bem-vindo/a, <%= user.nome %></p>

<div class="stack">
  <div class="card">
    <h1>Dashboard do Admin</h1>
    <p class="muted">Bem-vindo, <strong><%= user.nome %></strong></p>


    <div class="row">
      <a class="btn btn--primary" href="/admin/supermercados">Supermercados</a>
      <a class="btn btn--primary" href="/admin/produtos">Produtos</a>
      <a class="btn btn--primary" href="/admin/categorias">Categorias</a>
      <a class="btn btn--ghost" href="/logout">Sair</a>
    </div>
  </div>
</div>

<%- include("../layout/footer") %>
