<h2>Dashboard do Admin</h2>

<p>Bem-vindo, <%= user.nome %></p>

<div>
  <a href="/admin/supermercados">
    <button type="button">Supermercados</button>
  </a>

  <a href="/admin/produtos">
    <button type="button">Produtos</button>
  </a>

  <a href="/admin/categorias">
    <button type="button">Categorias</button>
  </a>
</div>

<br>

<p><a href="/logout">Logout</a></p>
