<%- include("layout/header") %>

<h1>Backoffice</h1>

<ul>
  <li><a href="/produtos">Gerir Produtos</a></li>
  <li><a href="/supermercados">Gerir Supermercados</a></li>
  <li><a href="/users/novo">Criar Utilizador</a></li>
</ul>

<%- include("layout/footer") %>