<h2>Dashboard do Supermercado</h2>

<p>Bem-vindo, <%= user.nome %></p>
<p><strong>Supermercado:</strong> <%= supermercado.nome %></p>

<a href="/perfil">
  <button type="button">Ver Perfil</button>
</a>

<a href="/supermercado/produtos">
  <button type="button">Produtos</button>
</a>

<a href="/vendas/nova">
  <button type="button">Nova Venda</button>
</a>

<a href="/vendas">
  <button type="button">Vendas em caixa</button>
</a>

<a href="/supermercado/encomendas">
  <button type="button">Encomendas Online</button>
</a>

<a href="/supermercado/clientes">
  <button type="button">Clientes</button>
</a>

<a href="/logout">
  <button type="button">Logout</button>
</a>