<!DOCTYPE html>
<html>
<head>
  <title>Backoffice</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
  </div>
<nav>
  <a href="/">Home</a> |
  <a href="/produtos">Produtos</a> |
  <a href="/supermercados">Supermercados</a> |
  <a href="/login">Login</a> |
  <a href="/vendas">Histórico de Vendas</a> |
  <a href="/vendas/nova">Nova Venda</a>
  <a href="/comparar">Comparar Preços</a>
</nav>
<hr>